body, html
	margin: 0px
	padding: 0px

.contacts-list-container
	display: flex
	flex-direction: row
	margin-top: 50px

aside
	margin-right: 50px

nav
	a
		display: block

.modal
	display: none
	justify-content: center
	align-items: center
	position: fixed
	top: 0px
	left: 0px
	right: 0px
	bottom: 0px
	z-index: 10


.loader-img
	width: 50px
	height: 50px

h3
	margin-top: 0px

.home-index-heading
	margin-top: 0px

.thumbnail
	padding: 10px !important

.profile-pic
	max-width: 200px !important
	height: auto